/* Navbar */
.navbar {
  background: linear-gradient(to right, #009fff, #ec2f4b);
  padding: 1rem;
  margin: 1rem;
  border-radius: 2rem;
  box-shadow: 0px 10px 10px #00000033;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-brand {
  color: #ffffff;
}

.navbar-nav.center-nav {
  flex-grow: 1;
  justify-content: center;
}

.nav-link {
  color: white !important;
  padding: 0.5rem 1rem;
}

.nav-link.active {
  color: white !important;
  background-color: #ffffff33;
  border-radius: 0.5rem;
}

.dropdown-menu {
  transform: translateX(-30px);
}

/* Pages content-wrapper */
.content-wrapper {
  padding-top: 6rem;
}

/* All Todos */
.card {
  box-shadow: 0px 10px 10px #00000033;
  border: none;
}

.text-low {
  color: green !important;
}

.text-medium {
  color: orange !important;
}

.text-high {
  color: red !important;
}

.priority-label {
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.low {
  background-color: green;
  color: white;
}

.medium {
  background-color: orange;
  color: white;
}

.high {
  background-color: red;
  color: white;
}

.selected {
  transform: scale(1.1);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  /* Navbar */
  .dropdown-menu {
    transform: none;
  }
}
